.mt-4
{
    font-weight: 750;
    text-align: center;
    justify-content: center;
    display: flex; /* or display: grid; */
  flex-wrap: wrap; /* or grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 10%;
    /* justify-content: space-between; */
}

@media only screen and (max-width: 950px)
{
    .mt-4
    {
        gap: 5%;
    }
} 

@media only screen and (max-width: 768px) 
{
    .mt-4
    {
        display: grid;
        gap: 10px;
    }
    .qq1
    {
        width: 100%;
        margin-left: 0px;
    }
    .qq2
    {
        width: 100%;
    }
    .qq3
    {
        width: 100%;
    }
    .qq4
    {
        width: 100%;
    }

}


